#panel {
    background-color: rgba(253, 253, 253, 1);
    transition: 250ms;
}
#panel .panel-button {
    color: black;
}

#panel .workspace-dot {
    background-color: rgba(0, 0, 0, 0.5);
}

#panel .workspace-dot:checked {
    background-color: black;
}

#panel.dark {
    background-color: rgba(0, 0, 0, 1);
    transition: 250ms;
}
#panel.dark .panel-button {
    color: #FDFDFD;
}

#panel.dark .workspace-dot {
    background-color: rgba(253, 253, 253, 0.5);
}

#panel.dark .workspace-dot:checked {
    background-color: #FDFDFD;
}

#panel:overview {
    background-color: rgba(0, 0, 0, 0);
}

#panel.dynamic-panel {
    background-color: rgba(253, 253, 253, 0.5);
}

#panel.dark.dynamic-panel {
    background-color: rgba(0, 0, 0, 0.5);
}