#panel {
    background-color: rgba(253, 253, 253, 1);
    transition: 250ms;
}

#panel .panel-button {
    color: black;
}

#panel .workspace-dot {
    background-color: rgba(0, 0, 0, 0.5);
}

#panel .workspace-dot:checked {
    background-color: black;
}

#panel.dark {
    background-color: rgba(0, 0, 0, 1);
    transition: 250ms;
}

#panel.dark .panel-button {
    color: #FDFDFD;
}

#panel.dark .workspace-dot {
    background-color: rgba(253, 253, 253, 0.5);
}

#panel.dark .workspace-dot:checked {
    background-color: #FDFDFD;
}

#panel:overview {
    background-color: rgba(0, 0, 0, 0);
}

#panel.dynamic-panel-0,
.panel-menu.floating-menu-0 .popup-menu-content {
    background-color: rgba(253, 253, 253, 0.0);
}

#panel.dynamic-panel-1,
.panel-menu.floating-menu-1 .popup-menu-content {
    background-color: rgba(253, 253, 253, 0.01);
}

#panel.dynamic-panel-2,
.panel-menu.floating-menu-2 .popup-menu-content {
    background-color: rgba(253, 253, 253, 0.02);
}

#panel.dynamic-panel-3,
.panel-menu.floating-menu-3 .popup-menu-content {
    background-color: rgba(253, 253, 253, 0.03);
}

#panel.dynamic-panel-4,
.panel-menu.floating-menu-4 .popup-menu-content {
    background-color: rgba(253, 253, 253, 0.04);
}

#panel.dynamic-panel-5,
.panel-menu.floating-menu-5 .popup-menu-content {
    background-color: rgba(253, 253, 253, 0.05);
}

#panel.dynamic-panel-6,
.panel-menu.floating-menu-6 .popup-menu-content {
    background-color: rgba(253, 253, 253, 0.06);
}

#panel.dynamic-panel-7,
.panel-menu.floating-menu-7 .popup-menu-content {
    background-color: rgba(253, 253, 253, 0.07);
}

#panel.dynamic-panel-8,
.panel-menu.floating-menu-8 .popup-menu-content {
    background-color: rgba(253, 253, 253, 0.08);
}

#panel.dynamic-panel-9,
.panel-menu.floating-menu-9 .popup-menu-content {
    background-color: rgba(253, 253, 253, 0.09);
}

#panel.dynamic-panel-10,
.panel-menu.floating-menu-10 .popup-menu-content {
    background-color: rgba(253, 253, 253, 0.1);
}

#panel.dynamic-panel-11,
.panel-menu.floating-menu-11 .popup-menu-content {
    background-color: rgba(253, 253, 253, 0.11);
}

#panel.dynamic-panel-12,
.panel-menu.floating-menu-12 .popup-menu-content {
    background-color: rgba(253, 253, 253, 0.12);
}

#panel.dynamic-panel-13,
.panel-menu.floating-menu-13 .popup-menu-content {
    background-color: rgba(253, 253, 253, 0.13);
}

#panel.dynamic-panel-14,
.panel-menu.floating-menu-14 .popup-menu-content {
    background-color: rgba(253, 253, 253, 0.14);
}

#panel.dynamic-panel-15,
.panel-menu.floating-menu-15 .popup-menu-content {
    background-color: rgba(253, 253, 253, 0.15);
}

#panel.dynamic-panel-16,
.panel-menu.floating-menu-16 .popup-menu-content {
    background-color: rgba(253, 253, 253, 0.16);
}

#panel.dynamic-panel-17,
.panel-menu.floating-menu-17 .popup-menu-content {
    background-color: rgba(253, 253, 253, 0.17);
}

#panel.dynamic-panel-18,
.panel-menu.floating-menu-18 .popup-menu-content {
    background-color: rgba(253, 253, 253, 0.18);
}

#panel.dynamic-panel-19,
.panel-menu.floating-menu-19 .popup-menu-content {
    background-color: rgba(253, 253, 253, 0.19);
}

#panel.dynamic-panel-20,
.panel-menu.floating-menu-20 .popup-menu-content {
    background-color: rgba(253, 253, 253, 0.2);
}

#panel.dynamic-panel-21,
.panel-menu.floating-menu-21 .popup-menu-content {
    background-color: rgba(253, 253, 253, 0.21);
}

#panel.dynamic-panel-22,
.panel-menu.floating-menu-22 .popup-menu-content {
    background-color: rgba(253, 253, 253, 0.22);
}

#panel.dynamic-panel-23,
.panel-menu.floating-menu-23 .popup-menu-content {
    background-color: rgba(253, 253, 253, 0.23);
}

#panel.dynamic-panel-24,
.panel-menu.floating-menu-24 .popup-menu-content {
    background-color: rgba(253, 253, 253, 0.24);
}

#panel.dynamic-panel-25,
.panel-menu.floating-menu-25 .popup-menu-content {
    background-color: rgba(253, 253, 253, 0.25);
}

#panel.dynamic-panel-26,
.panel-menu.floating-menu-26 .popup-menu-content {
    background-color: rgba(253, 253, 253, 0.26);
}

#panel.dynamic-panel-27,
.panel-menu.floating-menu-27 .popup-menu-content {
    background-color: rgba(253, 253, 253, 0.27);
}

#panel.dynamic-panel-28,
.panel-menu.floating-menu-28 .popup-menu-content {
    background-color: rgba(253, 253, 253, 0.28);
}

#panel.dynamic-panel-29,
.panel-menu.floating-menu-29 .popup-menu-content {
    background-color: rgba(253, 253, 253, 0.29);
}

#panel.dynamic-panel-30,
.panel-menu.floating-menu-30 .popup-menu-content {
    background-color: rgba(253, 253, 253, 0.3);
}

#panel.dynamic-panel-31,
.panel-menu.floating-menu-31 .popup-menu-content {
    background-color: rgba(253, 253, 253, 0.31);
}

#panel.dynamic-panel-32,
.panel-menu.floating-menu-32 .popup-menu-content {
    background-color: rgba(253, 253, 253, 0.32);
}

#panel.dynamic-panel-33,
.panel-menu.floating-menu-33 .popup-menu-content {
    background-color: rgba(253, 253, 253, 0.33);
}

#panel.dynamic-panel-34,
.panel-menu.floating-menu-34 .popup-menu-content {
    background-color: rgba(253, 253, 253, 0.34);
}

#panel.dynamic-panel-35,
.panel-menu.floating-menu-35 .popup-menu-content {
    background-color: rgba(253, 253, 253, 0.35);
}

#panel.dynamic-panel-36,
.panel-menu.floating-menu-36 .popup-menu-content {
    background-color: rgba(253, 253, 253, 0.36);
}

#panel.dynamic-panel-37,
.panel-menu.floating-menu-37 .popup-menu-content {
    background-color: rgba(253, 253, 253, 0.37);
}

#panel.dynamic-panel-38,
.panel-menu.floating-menu-38 .popup-menu-content {
    background-color: rgba(253, 253, 253, 0.38);
}

#panel.dynamic-panel-39,
.panel-menu.floating-menu-39 .popup-menu-content {
    background-color: rgba(253, 253, 253, 0.39);
}

#panel.dynamic-panel-40,
.panel-menu.floating-menu-40 .popup-menu-content {
    background-color: rgba(253, 253, 253, 0.4);
}

#panel.dynamic-panel-41,
.panel-menu.floating-menu-41 .popup-menu-content {
    background-color: rgba(253, 253, 253, 0.41);
}

#panel.dynamic-panel-42,
.panel-menu.floating-menu-42 .popup-menu-content {
    background-color: rgba(253, 253, 253, 0.42);
}

#panel.dynamic-panel-43,
.panel-menu.floating-menu-43 .popup-menu-content {
    background-color: rgba(253, 253, 253, 0.43);
}

#panel.dynamic-panel-44,
.panel-menu.floating-menu-44 .popup-menu-content {
    background-color: rgba(253, 253, 253, 0.44);
}

#panel.dynamic-panel-45,
.panel-menu.floating-menu-45 .popup-menu-content {
    background-color: rgba(253, 253, 253, 0.45);
}

#panel.dynamic-panel-46,
.panel-menu.floating-menu-46 .popup-menu-content {
    background-color: rgba(253, 253, 253, 0.46);
}

#panel.dynamic-panel-47,
.panel-menu.floating-menu-47 .popup-menu-content {
    background-color: rgba(253, 253, 253, 0.47);
}

#panel.dynamic-panel-48,
.panel-menu.floating-menu-48 .popup-menu-content {
    background-color: rgba(253, 253, 253, 0.48);
}

#panel.dynamic-panel-49,
.panel-menu.floating-menu-49 .popup-menu-content {
    background-color: rgba(253, 253, 253, 0.49);
}

#panel.dynamic-panel-50,
.panel-menu.floating-menu-50 .popup-menu-content {
    background-color: rgba(253, 253, 253, 0.5);
}

#panel.dynamic-panel-51,
.panel-menu.floating-menu-51 .popup-menu-content {
    background-color: rgba(253, 253, 253, 0.51);
}

#panel.dynamic-panel-52,
.panel-menu.floating-menu-52 .popup-menu-content {
    background-color: rgba(253, 253, 253, 0.52);
}

#panel.dynamic-panel-53,
.panel-menu.floating-menu-53 .popup-menu-content {
    background-color: rgba(253, 253, 253, 0.53);
}

#panel.dynamic-panel-54,
.panel-menu.floating-menu-54 .popup-menu-content {
    background-color: rgba(253, 253, 253, 0.54);
}

#panel.dynamic-panel-55,
.panel-menu.floating-menu-55 .popup-menu-content {
    background-color: rgba(253, 253, 253, 0.55);
}

#panel.dynamic-panel-56,
.panel-menu.floating-menu-56 .popup-menu-content {
    background-color: rgba(253, 253, 253, 0.56);
}

#panel.dynamic-panel-57,
.panel-menu.floating-menu-57 .popup-menu-content {
    background-color: rgba(253, 253, 253, 0.57);
}

#panel.dynamic-panel-58,
.panel-menu.floating-menu-58 .popup-menu-content {
    background-color: rgba(253, 253, 253, 0.58);
}

#panel.dynamic-panel-59,
.panel-menu.floating-menu-59 .popup-menu-content {
    background-color: rgba(253, 253, 253, 0.59);
}

#panel.dynamic-panel-60,
.panel-menu.floating-menu-60 .popup-menu-content {
    background-color: rgba(253, 253, 253, 0.6);
}

#panel.dynamic-panel-61,
.panel-menu.floating-menu-61 .popup-menu-content {
    background-color: rgba(253, 253, 253, 0.61);
}

#panel.dynamic-panel-62,
.panel-menu.floating-menu-62 .popup-menu-content {
    background-color: rgba(253, 253, 253, 0.62);
}

#panel.dynamic-panel-63,
.panel-menu.floating-menu-63 .popup-menu-content {
    background-color: rgba(253, 253, 253, 0.63);
}

#panel.dynamic-panel-64,
.panel-menu.floating-menu-64 .popup-menu-content {
    background-color: rgba(253, 253, 253, 0.64);
}

#panel.dynamic-panel-65,
.panel-menu.floating-menu-65 .popup-menu-content {
    background-color: rgba(253, 253, 253, 0.65);
}

#panel.dynamic-panel-66,
.panel-menu.floating-menu-66 .popup-menu-content {
    background-color: rgba(253, 253, 253, 0.66);
}

#panel.dynamic-panel-67,
.panel-menu.floating-menu-67 .popup-menu-content {
    background-color: rgba(253, 253, 253, 0.67);
}

#panel.dynamic-panel-68,
.panel-menu.floating-menu-68 .popup-menu-content {
    background-color: rgba(253, 253, 253, 0.68);
}

#panel.dynamic-panel-69,
.panel-menu.floating-menu-69 .popup-menu-content {
    background-color: rgba(253, 253, 253, 0.69);
}

#panel.dynamic-panel-70,
.panel-menu.floating-menu-70 .popup-menu-content {
    background-color: rgba(253, 253, 253, 0.7);
}

#panel.dynamic-panel-71,
.panel-menu.floating-menu-71 .popup-menu-content {
    background-color: rgba(253, 253, 253, 0.71);
}

#panel.dynamic-panel-72,
.panel-menu.floating-menu-72 .popup-menu-content {
    background-color: rgba(253, 253, 253, 0.72);
}

#panel.dynamic-panel-73,
.panel-menu.floating-menu-73 .popup-menu-content {
    background-color: rgba(253, 253, 253, 0.73);
}

#panel.dynamic-panel-74,
.panel-menu.floating-menu-74 .popup-menu-content {
    background-color: rgba(253, 253, 253, 0.74);
}

#panel.dynamic-panel-75,
.panel-menu.floating-menu-75 .popup-menu-content {
    background-color: rgba(253, 253, 253, 0.75);
}

#panel.dynamic-panel-76,
.panel-menu.floating-menu-76 .popup-menu-content {
    background-color: rgba(253, 253, 253, 0.76);
}

#panel.dynamic-panel-77,
.panel-menu.floating-menu-77 .popup-menu-content {
    background-color: rgba(253, 253, 253, 0.77);
}

#panel.dynamic-panel-78,
.panel-menu.floating-menu-78 .popup-menu-content {
    background-color: rgba(253, 253, 253, 0.78);
}

#panel.dynamic-panel-79,
.panel-menu.floating-menu-79 .popup-menu-content {
    background-color: rgba(253, 253, 253, 0.79);
}

#panel.dynamic-panel-80,
.panel-menu.floating-menu-80 .popup-menu-content {
    background-color: rgba(253, 253, 253, 0.8);
}

#panel.dynamic-panel-81,
.panel-menu.floating-menu-81 .popup-menu-content {
    background-color: rgba(253, 253, 253, 0.81);
}

#panel.dynamic-panel-82,
.panel-menu.floating-menu-82 .popup-menu-content {
    background-color: rgba(253, 253, 253, 0.82);
}

#panel.dynamic-panel-83,
.panel-menu.floating-menu-83 .popup-menu-content {
    background-color: rgba(253, 253, 253, 0.83);
}

#panel.dynamic-panel-84,
.panel-menu.floating-menu-84 .popup-menu-content {
    background-color: rgba(253, 253, 253, 0.84);
}

#panel.dynamic-panel-85,
.panel-menu.floating-menu-85 .popup-menu-content {
    background-color: rgba(253, 253, 253, 0.85);
}

#panel.dynamic-panel-86,
.panel-menu.floating-menu-86 .popup-menu-content {
    background-color: rgba(253, 253, 253, 0.86);
}

#panel.dynamic-panel-87,
.panel-menu.floating-menu-87 .popup-menu-content {
    background-color: rgba(253, 253, 253, 0.87);
}

#panel.dynamic-panel-88,
.panel-menu.floating-menu-88 .popup-menu-content {
    background-color: rgba(253, 253, 253, 0.88);
}

#panel.dynamic-panel-89,
.panel-menu.floating-menu-89 .popup-menu-content {
    background-color: rgba(253, 253, 253, 0.89);
}

#panel.dynamic-panel-90,
.panel-menu.floating-menu-90 .popup-menu-content {
    background-color: rgba(253, 253, 253, 0.9);
}

#panel.dynamic-panel-91,
.panel-menu.floating-menu-91 .popup-menu-content {
    background-color: rgba(253, 253, 253, 0.91);
}

#panel.dynamic-panel-92,
.panel-menu.floating-menu-92 .popup-menu-content {
    background-color: rgba(253, 253, 253, 0.92);
}

#panel.dynamic-panel-93,
.panel-menu.floating-menu-93 .popup-menu-content {
    background-color: rgba(253, 253, 253, 0.93);
}

#panel.dynamic-panel-94,
.panel-menu.floating-menu-94 .popup-menu-content {
    background-color: rgba(253, 253, 253, 0.94);
}

#panel.dynamic-panel-95,
.panel-menu.floating-menu-95 .popup-menu-content {
    background-color: rgba(253, 253, 253, 0.95);
}

#panel.dynamic-panel-96,
.panel-menu.floating-menu-96 .popup-menu-content {
    background-color: rgba(253, 253, 253, 0.96);
}

#panel.dynamic-panel-97,
.panel-menu.floating-menu-97 .popup-menu-content {
    background-color: rgba(253, 253, 253, 0.97);
}

#panel.dynamic-panel-98,
.panel-menu.floating-menu-98 .popup-menu-content {
    background-color: rgba(253, 253, 253, 0.98);
}

#panel.dynamic-panel-99,
.panel-menu.floating-menu-99 .popup-menu-content {
    background-color: rgba(253, 253, 253, 0.99);
}

#panel.dynamic-panel-100,
.panel-menu.floating-menu-100 .popup-menu-content {
    background-color: rgba(253, 253, 253, 1.0);
}


#panel.dark.dynamic-panel-0,
.panel-menu.dark.floating-menu-0 .popup-menu-content {
    background-color: rgba(0, 0, 0, 0.0);
}

#panel.dark.dynamic-panel-1,
.panel-menu.dark.floating-menu-1 .popup-menu-content {
    background-color: rgba(0, 0, 0, 0.01);
}

#panel.dark.dynamic-panel-2,
.panel-menu.dark.floating-menu-2 .popup-menu-content {
    background-color: rgba(0, 0, 0, 0.02);
}

#panel.dark.dynamic-panel-3,
.panel-menu.dark.floating-menu-3 .popup-menu-content {
    background-color: rgba(0, 0, 0, 0.03);
}

#panel.dark.dynamic-panel-4,
.panel-menu.dark.floating-menu-4 .popup-menu-content {
    background-color: rgba(0, 0, 0, 0.04);
}

#panel.dark.dynamic-panel-5,
.panel-menu.dark.floating-menu-5 .popup-menu-content {
    background-color: rgba(0, 0, 0, 0.05);
}

#panel.dark.dynamic-panel-6,
.panel-menu.dark.floating-menu-6 .popup-menu-content {
    background-color: rgba(0, 0, 0, 0.06);
}

#panel.dark.dynamic-panel-7,
.panel-menu.dark.floating-menu-7 .popup-menu-content {
    background-color: rgba(0, 0, 0, 0.07);
}

#panel.dark.dynamic-panel-8,
.panel-menu.dark.floating-menu-8 .popup-menu-content {
    background-color: rgba(0, 0, 0, 0.08);
}

#panel.dark.dynamic-panel-9,
.panel-menu.dark.floating-menu-9 .popup-menu-content {
    background-color: rgba(0, 0, 0, 0.09);
}

#panel.dark.dynamic-panel-10,
.panel-menu.dark.floating-menu-10 .popup-menu-content {
    background-color: rgba(0, 0, 0, 0.1);
}

#panel.dark.dynamic-panel-11,
.panel-menu.dark.floating-menu-11 .popup-menu-content {
    background-color: rgba(0, 0, 0, 0.11);
}

#panel.dark.dynamic-panel-12,
.panel-menu.dark.floating-menu-12 .popup-menu-content {
    background-color: rgba(0, 0, 0, 0.12);
}

#panel.dark.dynamic-panel-13,
.panel-menu.dark.floating-menu-13 .popup-menu-content {
    background-color: rgba(0, 0, 0, 0.13);
}

#panel.dark.dynamic-panel-14,
.panel-menu.dark.floating-menu-14 .popup-menu-content {
    background-color: rgba(0, 0, 0, 0.14);
}

#panel.dark.dynamic-panel-15,
.panel-menu.dark.floating-menu-15 .popup-menu-content {
    background-color: rgba(0, 0, 0, 0.15);
}

#panel.dark.dynamic-panel-16,
.panel-menu.dark.floating-menu-16 .popup-menu-content {
    background-color: rgba(0, 0, 0, 0.16);
}

#panel.dark.dynamic-panel-17,
.panel-menu.dark.floating-menu-17 .popup-menu-content {
    background-color: rgba(0, 0, 0, 0.17);
}

#panel.dark.dynamic-panel-18,
.panel-menu.dark.floating-menu-18 .popup-menu-content {
    background-color: rgba(0, 0, 0, 0.18);
}

#panel.dark.dynamic-panel-19,
.panel-menu.dark.floating-menu-19 .popup-menu-content {
    background-color: rgba(0, 0, 0, 0.19);
}

#panel.dark.dynamic-panel-20,
.panel-menu.dark.floating-menu-20 .popup-menu-content {
    background-color: rgba(0, 0, 0, 0.2);
}

#panel.dark.dynamic-panel-21,
.panel-menu.dark.floating-menu-21 .popup-menu-content {
    background-color: rgba(0, 0, 0, 0.21);
}

#panel.dark.dynamic-panel-22,
.panel-menu.dark.floating-menu-22 .popup-menu-content {
    background-color: rgba(0, 0, 0, 0.22);
}

#panel.dark.dynamic-panel-23,
.panel-menu.dark.floating-menu-23 .popup-menu-content {
    background-color: rgba(0, 0, 0, 0.23);
}

#panel.dark.dynamic-panel-24,
.panel-menu.dark.floating-menu-24 .popup-menu-content {
    background-color: rgba(0, 0, 0, 0.24);
}

#panel.dark.dynamic-panel-25,
.panel-menu.dark.floating-menu-25 .popup-menu-content {
    background-color: rgba(0, 0, 0, 0.25);
}

#panel.dark.dynamic-panel-26,
.panel-menu.dark.floating-menu-26 .popup-menu-content {
    background-color: rgba(0, 0, 0, 0.26);
}

#panel.dark.dynamic-panel-27,
.panel-menu.dark.floating-menu-27 .popup-menu-content {
    background-color: rgba(0, 0, 0, 0.27);
}

#panel.dark.dynamic-panel-28,
.panel-menu.dark.floating-menu-28 .popup-menu-content {
    background-color: rgba(0, 0, 0, 0.28);
}

#panel.dark.dynamic-panel-29,
.panel-menu.dark.floating-menu-29 .popup-menu-content {
    background-color: rgba(0, 0, 0, 0.29);
}

#panel.dark.dynamic-panel-30,
.panel-menu.dark.floating-menu-30 .popup-menu-content {
    background-color: rgba(0, 0, 0, 0.3);
}

#panel.dark.dynamic-panel-31,
.panel-menu.dark.floating-menu-31 .popup-menu-content {
    background-color: rgba(0, 0, 0, 0.31);
}

#panel.dark.dynamic-panel-32,
.panel-menu.dark.floating-menu-32 .popup-menu-content {
    background-color: rgba(0, 0, 0, 0.32);
}

#panel.dark.dynamic-panel-33,
.panel-menu.dark.floating-menu-33 .popup-menu-content {
    background-color: rgba(0, 0, 0, 0.33);
}

#panel.dark.dynamic-panel-34,
.panel-menu.dark.floating-menu-34 .popup-menu-content {
    background-color: rgba(0, 0, 0, 0.34);
}

#panel.dark.dynamic-panel-35,
.panel-menu.dark.floating-menu-35 .popup-menu-content {
    background-color: rgba(0, 0, 0, 0.35);
}

#panel.dark.dynamic-panel-36,
.panel-menu.dark.floating-menu-36 .popup-menu-content {
    background-color: rgba(0, 0, 0, 0.36);
}

#panel.dark.dynamic-panel-37,
.panel-menu.dark.floating-menu-37 .popup-menu-content {
    background-color: rgba(0, 0, 0, 0.37);
}

#panel.dark.dynamic-panel-38,
.panel-menu.dark.floating-menu-38 .popup-menu-content {
    background-color: rgba(0, 0, 0, 0.38);
}

#panel.dark.dynamic-panel-39,
.panel-menu.dark.floating-menu-39 .popup-menu-content {
    background-color: rgba(0, 0, 0, 0.39);
}

#panel.dark.dynamic-panel-40,
.panel-menu.dark.floating-menu-40 .popup-menu-content {
    background-color: rgba(0, 0, 0, 0.4);
}

#panel.dark.dynamic-panel-41,
.panel-menu.dark.floating-menu-41 .popup-menu-content {
    background-color: rgba(0, 0, 0, 0.41);
}

#panel.dark.dynamic-panel-42,
.panel-menu.dark.floating-menu-42 .popup-menu-content {
    background-color: rgba(0, 0, 0, 0.42);
}

#panel.dark.dynamic-panel-43,
.panel-menu.dark.floating-menu-43 .popup-menu-content {
    background-color: rgba(0, 0, 0, 0.43);
}

#panel.dark.dynamic-panel-44,
.panel-menu.dark.floating-menu-44 .popup-menu-content {
    background-color: rgba(0, 0, 0, 0.44);
}

#panel.dark.dynamic-panel-45,
.panel-menu.dark.floating-menu-45 .popup-menu-content {
    background-color: rgba(0, 0, 0, 0.45);
}

#panel.dark.dynamic-panel-46,
.panel-menu.dark.floating-menu-46 .popup-menu-content {
    background-color: rgba(0, 0, 0, 0.46);
}

#panel.dark.dynamic-panel-47,
.panel-menu.dark.floating-menu-47 .popup-menu-content {
    background-color: rgba(0, 0, 0, 0.47);
}

#panel.dark.dynamic-panel-48,
.panel-menu.dark.floating-menu-48 .popup-menu-content {
    background-color: rgba(0, 0, 0, 0.48);
}

#panel.dark.dynamic-panel-49,
.panel-menu.dark.floating-menu-49 .popup-menu-content {
    background-color: rgba(0, 0, 0, 0.49);
}

#panel.dark.dynamic-panel-50,
.panel-menu.dark.floating-menu-50 .popup-menu-content {
    background-color: rgba(0, 0, 0, 0.5);
}

#panel.dark.dynamic-panel-51,
.panel-menu.dark.floating-menu-51 .popup-menu-content {
    background-color: rgba(0, 0, 0, 0.51);
}

#panel.dark.dynamic-panel-52,
.panel-menu.dark.floating-menu-52 .popup-menu-content {
    background-color: rgba(0, 0, 0, 0.52);
}

#panel.dark.dynamic-panel-53,
.panel-menu.dark.floating-menu-53 .popup-menu-content {
    background-color: rgba(0, 0, 0, 0.53);
}

#panel.dark.dynamic-panel-54,
.panel-menu.dark.floating-menu-54 .popup-menu-content {
    background-color: rgba(0, 0, 0, 0.54);
}

#panel.dark.dynamic-panel-55,
.panel-menu.dark.floating-menu-55 .popup-menu-content {
    background-color: rgba(0, 0, 0, 0.55);
}

#panel.dark.dynamic-panel-56,
.panel-menu.dark.floating-menu-56 .popup-menu-content {
    background-color: rgba(0, 0, 0, 0.56);
}

#panel.dark.dynamic-panel-57,
.panel-menu.dark.floating-menu-57 .popup-menu-content {
    background-color: rgba(0, 0, 0, 0.57);
}

#panel.dark.dynamic-panel-58,
.panel-menu.dark.floating-menu-58 .popup-menu-content {
    background-color: rgba(0, 0, 0, 0.58);
}

#panel.dark.dynamic-panel-59,
.panel-menu.dark.floating-menu-59 .popup-menu-content {
    background-color: rgba(0, 0, 0, 0.59);
}

#panel.dark.dynamic-panel-60,
.panel-menu.dark.floating-menu-60 .popup-menu-content {
    background-color: rgba(0, 0, 0, 0.6);
}

#panel.dark.dynamic-panel-61,
.panel-menu.dark.floating-menu-61 .popup-menu-content {
    background-color: rgba(0, 0, 0, 0.61);
}

#panel.dark.dynamic-panel-62,
.panel-menu.dark.floating-menu-62 .popup-menu-content {
    background-color: rgba(0, 0, 0, 0.62);
}

#panel.dark.dynamic-panel-63,
.panel-menu.dark.floating-menu-63 .popup-menu-content {
    background-color: rgba(0, 0, 0, 0.63);
}

#panel.dark.dynamic-panel-64,
.panel-menu.dark.floating-menu-64 .popup-menu-content {
    background-color: rgba(0, 0, 0, 0.64);
}

#panel.dark.dynamic-panel-65,
.panel-menu.dark.floating-menu-65 .popup-menu-content {
    background-color: rgba(0, 0, 0, 0.65);
}

#panel.dark.dynamic-panel-66,
.panel-menu.dark.floating-menu-66 .popup-menu-content {
    background-color: rgba(0, 0, 0, 0.66);
}

#panel.dark.dynamic-panel-67,
.panel-menu.dark.floating-menu-67 .popup-menu-content {
    background-color: rgba(0, 0, 0, 0.67);
}

#panel.dark.dynamic-panel-68,
.panel-menu.dark.floating-menu-68 .popup-menu-content {
    background-color: rgba(0, 0, 0, 0.68);
}

#panel.dark.dynamic-panel-69,
.panel-menu.dark.floating-menu-69 .popup-menu-content {
    background-color: rgba(0, 0, 0, 0.69);
}

#panel.dark.dynamic-panel-70,
.panel-menu.dark.floating-menu-70 .popup-menu-content {
    background-color: rgba(0, 0, 0, 0.7);
}

#panel.dark.dynamic-panel-71,
.panel-menu.dark.floating-menu-71 .popup-menu-content {
    background-color: rgba(0, 0, 0, 0.71);
}

#panel.dark.dynamic-panel-72,
.panel-menu.dark.floating-menu-72 .popup-menu-content {
    background-color: rgba(0, 0, 0, 0.72);
}

#panel.dark.dynamic-panel-73,
.panel-menu.dark.floating-menu-73 .popup-menu-content {
    background-color: rgba(0, 0, 0, 0.73);
}

#panel.dark.dynamic-panel-74,
.panel-menu.dark.floating-menu-74 .popup-menu-content {
    background-color: rgba(0, 0, 0, 0.74);
}

#panel.dark.dynamic-panel-75,
.panel-menu.dark.floating-menu-75 .popup-menu-content {
    background-color: rgba(0, 0, 0, 0.75);
}

#panel.dark.dynamic-panel-76,
.panel-menu.dark.floating-menu-76 .popup-menu-content {
    background-color: rgba(0, 0, 0, 0.76);
}

#panel.dark.dynamic-panel-77,
.panel-menu.dark.floating-menu-77 .popup-menu-content {
    background-color: rgba(0, 0, 0, 0.77);
}

#panel.dark.dynamic-panel-78,
.panel-menu.dark.floating-menu-78 .popup-menu-content {
    background-color: rgba(0, 0, 0, 0.78);
}

#panel.dark.dynamic-panel-79,
.panel-menu.dark.floating-menu-79 .popup-menu-content {
    background-color: rgba(0, 0, 0, 0.79);
}

#panel.dark.dynamic-panel-80,
.panel-menu.dark.floating-menu-80 .popup-menu-content {
    background-color: rgba(0, 0, 0, 0.8);
}

#panel.dark.dynamic-panel-81,
.panel-menu.dark.floating-menu-81 .popup-menu-content {
    background-color: rgba(0, 0, 0, 0.81);
}

#panel.dark.dynamic-panel-82,
.panel-menu.dark.floating-menu-82 .popup-menu-content {
    background-color: rgba(0, 0, 0, 0.82);
}

#panel.dark.dynamic-panel-83,
.panel-menu.dark.floating-menu-83 .popup-menu-content {
    background-color: rgba(0, 0, 0, 0.83);
}

#panel.dark.dynamic-panel-84,
.panel-menu.dark.floating-menu-84 .popup-menu-content {
    background-color: rgba(0, 0, 0, 0.84);
}

#panel.dark.dynamic-panel-85,
.panel-menu.dark.floating-menu-85 .popup-menu-content {
    background-color: rgba(0, 0, 0, 0.85);
}

#panel.dark.dynamic-panel-86,
.panel-menu.dark.floating-menu-86 .popup-menu-content {
    background-color: rgba(0, 0, 0, 0.86);
}

#panel.dark.dynamic-panel-87,
.panel-menu.dark.floating-menu-87 .popup-menu-content {
    background-color: rgba(0, 0, 0, 0.87);
}

#panel.dark.dynamic-panel-88,
.panel-menu.dark.floating-menu-88 .popup-menu-content {
    background-color: rgba(0, 0, 0, 0.88);
}

#panel.dark.dynamic-panel-89,
.panel-menu.dark.floating-menu-89 .popup-menu-content {
    background-color: rgba(0, 0, 0, 0.89);
}

#panel.dark.dynamic-panel-90,
.panel-menu.dark.floating-menu-90 .popup-menu-content {
    background-color: rgba(0, 0, 0, 0.9);
}

#panel.dark.dynamic-panel-91,
.panel-menu.dark.floating-menu-91 .popup-menu-content {
    background-color: rgba(0, 0, 0, 0.91);
}

#panel.dark.dynamic-panel-92,
.panel-menu.dark.floating-menu-92 .popup-menu-content {
    background-color: rgba(0, 0, 0, 0.92);
}

#panel.dark.dynamic-panel-93,
.panel-menu.dark.floating-menu-93 .popup-menu-content {
    background-color: rgba(0, 0, 0, 0.93);
}

#panel.dark.dynamic-panel-94,
.panel-menu.dark.floating-menu-94 .popup-menu-content {
    background-color: rgba(0, 0, 0, 0.94);
}

#panel.dark.dynamic-panel-95,
.panel-menu.dark.floating-menu-95 .popup-menu-content {
    background-color: rgba(0, 0, 0, 0.95);
}

#panel.dark.dynamic-panel-96,
.panel-menu.dark.floating-menu-96 .popup-menu-content {
    background-color: rgba(0, 0, 0, 0.96);
}

#panel.dark.dynamic-panel-97,
.panel-menu.dark.floating-menu-97 .popup-menu-content {
    background-color: rgba(0, 0, 0, 0.97);
}

#panel.dark.dynamic-panel-98,
.panel-menu.dark.floating-menu-98 .popup-menu-content {
    background-color: rgba(0, 0, 0, 0.98);
}

#panel.dark.dynamic-panel-99,
.panel-menu.dark.floating-menu-99 .popup-menu-content {
    background-color: rgba(0, 0, 0, 0.99);
}

#panel.dark.dynamic-panel-100,
.panel-menu.dark.floating-menu-100 .popup-menu-content {
    background-color: rgba(0, 0, 0, 1.0);
}